@media print {
  * {
    font-weight: initial !important;
    font-size: 11pt;
  }
  .container,
  .container .half-page {
    width: 100% !important;
  }
  header .info-pic {
    display: none;
  }
  .print-message {
    display: none;
  }
  header .name {
    font-size: 1.5rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  section {
    page-break-before: avoid;
  }
  section.experience,
  section.education,
  section.honors ul div,
  section.languages,
  section.project,
  section.publications ul li {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.75in;
  }
  header.container {
    padding-top: 0 !important;
  }
}
